<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Carro</title>
</head>
<body>
    <h1>Cadastrar carro</h1>

    <form method="POST" action="{{ url_for('criar_carro') }}">
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" required>

        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" required>

        <label for="ano">Ano:</label>
        <input type="text" id="ano" name="ano" required>

        <button type="submit">Criar Carro</button>
    </form>
</body>
</html>
